<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram | <%=data?username:"No Account found"%></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <% if (data){ %>
    @<%=username%>
    <button>Follow</button><button>Message</button>
    <br>
    followers : <%=data.followers%>
    <br>
    following : <%=data.following%>
    
    <br>
    <h3>Posts</h3>
    <br>
    
    <% for (let post of data.posts) {%>
        <img src=<%= post.image%> width="200px" height="200px" alt="">
        likes:<%= post.likes%>
        comments:<%= post.comments%>
        <br>        
    <%}%>
    
    <% }else{ %>
        <h1>User does not exists</h1>
    <% }%>
</body>
</html>